.todayContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.today__temp {
    display: flex;
    justify-content: space-between;
    align-items: center;
}